<table class="table table-hover">

    <tbody>
        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>
        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>
        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>

        <tr>

            <td><b>User</b></td>
            <td>UserName <br><small>hello</small></td>
            <td><small>active</small></td>
        </tr>
    </tbody>
</table>
