<table class="table">
    <tbody>
      <tr>
        <td>
          <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">Hello Saif</p>
        </td>
        <td>
          <p class="p-1 mt-2 mr-3 shadow-sm"><small>11:20 PM</small></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">Hello Bro How are You???
          </p>
        </td>
        <td>
            <p class="p-1 mt-2 mr-3 shadow-sm"><small>11:20 PM</small></p>
          </td>
        
      </tr>
      <!-- end -->
    </tbody>
  </table>
