<div class="back-container">
    <div class="container-fluid front-container">
        <div class="back-top"></div>
        <div class="back-main"></div>
    </div>
    <div class="container front-container1">
        <div class="row chat-top">
            <div class="col-sm-4 border-right border-secondary">
                <div class="input-group input-group-sm mb-3 search-button">
                    <input type="text" class="form-control" placeholder="Search friend"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <!-- Bootstrap search icon -->
                            <span class="bi bi-search"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="row justify-content-between">
                    <div class="col-auto"> <!-- This div takes half of the column width -->
                        <div class="input-group input-group-sm mb-3 search-button">
                            <div class="input-group-prepend">
                                <a href="" class="input-group-text bg-warning text-white"
                                    style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;">Username</a>
                                <!-- Clickable user name with border-radius -->
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"> <!-- This div takes half of the column width -->
                        <div class="input-group input-group-sm mb-3 search-button">
                            <input type="text"  [(ngModel)]="searchTerm" class="form-control form-control-sm" placeholder="Search friend"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button (click)="searchitem()" class="btn-outline-secondary btn-sm" type="button"
                                    style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                    <!-- Bootstrap search icon -->
                                    <span class="bi bi-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4 contacts">
                <div class="contact-scroll">
                    <app-contacts />
                </div>

            </div>
            <div class="col-sm-8 message-area">
                <div class="message-table-scroll">
                    <app-messages />
                </div>
                <div class="row message-box p-3">
                    <app-input />
                </div>
            </div>
        </div>
    </div>
</div>
